<?xml version='1.0' encoding='utf-8'?>
<widget id="net.bouzuya.bopara" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>bopara</name>
    <description>
      The paradise of bouzuya.
    </description>
    <author email="bouzuya@gmail.com" href="http://bouzuya.net/">bouzuya</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
